<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
      .nvd3 .nv-groups .nv-point {
        stroke-opacity: 1 !important;
        stroke-width: 2px;
      }

      .nvd3 .nv-sparkline path {
        stroke-width: 2px;
      }
      .nvd3.nv-sparklineplus .nv-minValue, .nv-maxValue {
        stroke-width: 7px;
      }
    </style>
  </head>
  <body ng-app="disneylandCharts" ng-cloak>

    <div ng-controller="dummy">
      <div class="container">
        <h1>Disneyland Wait Time Arbitrage</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Ride</th>
              <th>Average</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ride in rides" ng-if="rides">
              <td>{{ ride.name }}</td>
              <td>
                <nvd3 options="$parent.sparklineOptions" data="ride.data"></nvd3>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="container">
        <nvd3 ng-if="chartData" options='chartOptions' data='chartData'></nvd3>
      </div>
    </div>

    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/lodash/dist/lodash.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <script src="/bower_components/nvd3/build/nv.d3.js"></script>
    <script src="/bower_components/angular-nvd3/dist/angular-nvd3.js"></script>

    <script src="/client/src/app.js"></script>
  </body>
</html>
