<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Wait Time Arbitrage</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" uib-collapse="!isCollapsed">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="deals">Deals <span class="sr-only">(current)</span></a></li>
        <li ui-sref-active="active"><a ui-sref="waitTimes">Wait Times <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a ui-sref="administration">Administration</a></li>
      </ul>
    </div>
  </div>
</nav>
 -->



<section layout="row" flex>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Wait Time Arbitrage</h1>
    </md-toolbar>
    <md-content layout-padding>
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="deals">Deals <span class="sr-only">(current)</span></a></li>
        <li ui-sref-active="active"><a ui-sref="waitTimes">Wait Times <span class="sr-only">(current)</span></a></li>
        <li ui-sref-active="active"><a ui-sref="administration">Administration</a></li>
      </ul>
    </md-content>
  </md-sidenav>
  <md-content md-scroll-y flex class="layout-column flex">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
          <md-icon>
            <i class="material-icons">menu</i>
          </md-icon>
        </md-button>
        <h2>
          <span></span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <div ui-view="main"></div>
  </md-content>
</section>