<div>
  <md-progress-circular ng-if="!days && !heatMapData" md-mode="indeterminate" md-diameter="120" style="margin: 0 auto;"></md-progress-circular>
  <div ng-if="days && heatMapData">
    <h1>{{ ride.name }}</h1>

    <cal-heatmap config="heatmapConfig"></cal-heatmap>

    <div layout="row">
        <div flex="auto" ng-repeat="day in dailyAverages">
            <div>{{ day._id | dayOfWeek }}</div>
            <div>Average: {{ day.average | number:0}}</div>
            <div>Min: {{ day.min | number:0 }}</div>
            <div>Max: {{ day.max | number:0}}</div>
        </div>
    </div>
    <ul>
      <li ng-repeat="day in days">
        <span>{{ day._id.dayOfYear | toDate | date: 'EEEE, MMMM d' }}</span>
        <span>Average: {{ day.average | number:0}}</span>
        <span>Min: {{ day.min | number:0 }}</span>
        <span>Max: {{ day.max | number:0}}</span>
        <nvd3 options="chartOptions" data="day.graph"></nvd3>
      </li>
    </ul>
  </div>
</div>