<div class="container">
  <md-progress-circular ng-if="!optimalFastPasses" md-mode="indeterminate" md-diameter="120" style="margin: 0 auto;"></md-progress-circular>
  <div ng-if="optimalFastPasses">
    <div ng-repeat="rides in optimalFastPasses | groupBy: 'timeFromNow' | toArray: true | orderBy:'$key'">
      <md-list>
        <md-subheader class="md-no-sticky">Matures in {{ rides.$key | humanize }} at {{ rides[0].fastPassWindow.startDate | date: 'h:mm a' }} - {{ rides[0].fastPassWindow.endDate | date: 'h:mm a' }}</md-subheader>
        <md-list-item ng-repeat="ride in rides">
          <div class="md-list-item-text" layout="column">
            <h4>{{ ride.name }}</h4>
            <p>Wait Time: {{ ride.currentWaitTime }} minutes</p>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>